$break: 1000px;
@import "icon/*.png";

.home .content-area .site-main {
  margin:0;
}
// Layout: Content-Sidebar
@if $layout == content-sidebar {
	.content-area, .breadcrumbs {
		float: left;
		margin: 0 -30% 0 10%;
		width: 80%;
		  @media screen and (max-width: $break) {
        margin: none;
        float: none;
    }

	}
	.site-main {
		margin: 0 30% 0 0;
      @media screen and (max-width: $break) {
        margin: 0;
      }
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: right;
		overflow: hidden;
		width: 20%;
		margin-right: 10%;
		padding: 2em;
    background: darken($body-background, 5%);
    position: relative;
    z-index: 1;
    figure {
      margin-bottom: 1em;
    }
    .btn {
      width: 100%;
      display: block;
      text-align: center;
    }
      @media screen and (max-width: $break) {
        margin: 0 -30% 0 10%;
        width: 80%;
        float: none;
        div {
          overflow: hidden;
        }
        figure {
          width: 30%;
          float: left;
          margin-right: 1em;
        }
        a.btn {
          margin-top: 1em;
          clear: both;
        }
    }
      @media screen and (max-width: 600px) {
        figure {
          width: 100%;
          margin: 0 0 1em 0;
          float: none;
        }
    }
	}
}

// Layout: Sidebar-Content
@else if $layout == sidebar-content {
	.content-area {
		float: right;
		margin: 0 0 0 -25%;
		width: 80%;
	}
	.site-main {
		margin: 0 0 0 25%;
	}
	.site-content .widget-area { /* Sidebar 1 */
		float: left;
		overflow: hidden;
		width: 25%;
	}
}

@if $layout != null {
	.site-footer {
		clear: both;
		background: $body-shade;
		border-top: 10px solid darken($body-shade, 10%);
		.site-info {
      width: 80%;
      margin: 0 auto;
      padding: 20px 0;
      min-height: 5em;
		}
	}
}

// Site Header
#masthead {
  background: $accent-color;
  @include background-image(linear-gradient( $accent-color, darken($accent-color, 10%)));
  border-bottom: 10px solid $accent-color;
  padding: 0 10%;
  .site-branding {
    float: left;
  }
  #site-navigation, #menu-social {
    float: right;
  }
  .site-branding, #site-navigation {
    h1 {
      font-size:2.5em;
      margin-bottom: 10px;
      padding-top: .2em;
      clear: none;
      float: left;
      a {
        text-decoration: none;
        @include link-colors($highlight, darken($highlight, 30%));
        background: url(../images/fangs.svg) no-repeat;
        padding-left: 1.5em;
        transition: color 0.2s;
      }
    }
    h2 {
      font-size:$header-size;
    }
  }
}
@media screen and (max-width: 1100px) {
  #masthead {
    #site-navigation {
      width: 90%;
    }
    .site-branding {
        width: 10%;
      h1 span {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 864px) {
  #masthead {
    padding: 0;
    .site-branding {
      width: 100%;
      h1 {
        text-align: center;
        font-size:$header-size;
        margin-bottom: 10px;
        float: none;
        font-size: 5em;
        a {
          padding: 0 1.5em;
          background-size: 100px;
          background-position: 50%;
        }
      }
    }
  }
  #secondary {
    margin: 0 -30% 0 10%;
    width: 80%;
  }
}
// Site Banner
#banner.widget {
  background:$highlight;
  margin: 0;
  padding: 2em 10%;
  text-align: center;
}
// Site Footer 
footer {
   color: $footer-text;
  .site-info {
    a {
      color: $footer-link;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
// Portfolio
.home-thumb {
  margin: 1.65%;
  width: 30%;
  float: left;
  text-align: center;
  figure {
    margin: 0 auto;
    max-width: 300px;
    position: relative;
    overflow: hidden;
    padding: 4px;
    img {
      max-width: 100% !important;
      max-width: initial;
    }
    .fighover {
      position: absolute;
      top: 0;
      left: -104%;
      width: 98%;
      height: 96%;
      background: $accent-color;
      margin: 4px;
      @include opacity(0.9);
      @include transition-property(all);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in);
      a {
        position: absolute;
        top: 40%;
        left: 40%;
        background: black;
        padding: 5px;
        @include border-radius(10px);
        i {
          font-size: 3em;
        }
      }
    }
  }
  figure:hover{
      .fighover {
        left: 0;
        display: block;
      }       
  }
}
@media screen and (max-width: 864px) {
  .home-thumb {
    width: 46%;
    } 
}
@media screen and (max-width: 600px) {
  .home-thumb {
    width: 100%;
    } 
}